@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@200&family=Rajdhani:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style-type: none;
}

a,
a:hover {
    color: #000;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

ol,
ul,
li,
a,
p,
.navbar,
input,
form,
span,
i,
h1,
h2,
h3,
h4,
h5,
h6,
img {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Rajdhani', sans-serif;
   
}

/* common css start */
h1 {
    font-size: 52px;
    font-family: 'Rajdhani', sans-serif;
    color: #000;
    font-weight: 900;
    padding-bottom: 20px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    color: #000;
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
}

a {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

h3 {
    font-size: 25px;
    font-family: 'Rajdhani', sans-serif;
    color: #353535;
    font-weight: 700;
}

/* common_heading start */
.common_heading {
    padding-bottom: 60px;
}

.common_heading h6 {
    color: #FD5D15;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}


.common_heading h2 {
    font-size: 40px;
    font-family: 'Rajdhani', sans-serif;
    color: #353535;
    font-weight: 700;
}

.common_head2 {
    color: #FD5D15;
}

.common_head2 span i {
    color: #FD5D15;
    font-size: 20px;
}

.common_head2 p {
    border-left: 2px solid #FD5D15;
    padding-left: 20px;


}

/* common_heading end */
/* common css end */

/* navbar start */

/* navbar end */

/* banner start */
.banner_part {
    background: url(../images/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 30px 0px 100px;



}

.banner_content {
    margin-left: 25px;
}

.banner_content h3 {
    padding: 50px 0px 20px;
    color: #FD5D15;
}

.banner_content h3 span i {
    color: #FD5D15;
    font-size: 20px;
}

.banner_content p {
    border-left: 2px solid #FD5D15;
    padding-left: 20px;


}

.banner_content a {
    color: #000;
    padding: 10px 20px;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 30px;

    position: relative;
    transition: 0.4s;
    background-color: #fff;

    z-index: 1;
}

.banner_content a.btn {
    border: 0;
    border-radius: 0;
    border: 1px solid #000;
}

.banner_content a.btn2 {
    border: 1px solid #FD5D15;
}

.banner_content a:hover {
    color: #fff;

}

.banner_content a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FD5D15;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}

.banner_content a:hover::before {
    width: 100%;


}



/* banner end */
/* navbar start */
.menu_part {
    background: #fff;
    padding: 4px 10px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 16px;
    color: #353535;
    font-weight: bold;
    padding: 20px 10px;
    transition: 0.5s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #FD5D15;
}

.menu_part .Quate {
    color: #fff;
    font-size: 20px;
    position: relative;
    transition: 0.4s;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #FD5D15;
    z-index: 1;
}

.menu_part .Quate.btn {
    /*    border: 0;*/
    border-radius: 0;

}

.menu_part .Quate:hover.btn {
    color: #000;
    border: 1 px solid #000;
}

.menu_part .Quate::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: #FD5D15;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}

.menu_part .Quate:hover::before {
    width: 0%;

}

.menu_part .search_btn {
    box-shadow: 1px 1px 1px #000;
    border-radius: 0;
    transition: 0.4s;
    margin-left: 20px;
}

.menu_part .search_btn:hover {
    color: #fff;
    background: #FD5D15;
    box-shadow: none;
}

/* navbar end */

/* about_part start */
.about_part {
    padding: 80px 0px;
}

.about_content {
    margin-left: 50px;
}

.about_btn p {
    margin: 40px 0px 50px;
}

.about_btn .Quate {
    color: #fff;
    font-size: 20px;
    position: relative;
    transition: 0.4s;
    background-color: #fff;
    border: 1px solid #353535;
    z-index: 1;
}

.about_btn .Quate.btn {
    /*    border: 0;*/
    border-radius: 0;

}

.about_btn .Quate:hover.btn {
    color: #000;
    /*    border: 1 px solid #000;*/
}

.about_btn .Quate::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: #353535;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}

.about_btn .Quate:hover::before {
    width: 0%;

}

.about_btn img {
    margin-left: 20px;
}

/* about_part end */

/* service_part start */
.sevice_part {
    background: url(../images/3rd_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0px;
}

.sevice_content {
    padding-top: 40px;
}

.sevice_btn p {
    margin: 40px 0px 50px;
}

.sevice_btn .Quate {
    color: #fff;
    font-size: 20px;
    position: relative;
    transition: 0.4s;
    background-color: #fff;
    border: 1px solid #FD5D15;
    z-index: 1;
}

.sevice_btn .Quate.btn {
    /*    border: 0;*/
    border-radius: 0;

}

.sevice_btn .Quate:hover.btn {
    color: #000;
}

.sevice_btn .Quate::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: #FD5D15;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}

.sevice_btn .Quate:hover::before {
    width: 0%;

}

/* ser_card start */
.ser_card {
    padding: 27px;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.62);
    position: relative;
}

.ser_card::after {
    position: absolute;
    height: 4px;
    width: 0%;
    content: '';
    background: #FD5D15;
    left: 0;
    bottom: 0;
    transition: 0.5s;

}

.ser_card:hover::after {
    width: 100%;
}

.ser_card i {
    font-size: 45px;
    color: #FD5D15;
    padding-bottom: 30px;
}

.ser_card h3 {
    padding-bottom: 20px;
}

.ser_card p {
    margin-bottom: 25px;
}

.ser_card a {
    color: #FD5D15;
    font-size: 15px;
    margin-left: 80px;
}

.ser_card a i {
    font-size: 15px;
    padding-bottom: 0px;
}

/* ser_card start */
/* service_part end */


/* project_part start */
.project_part {
    padding: 100px 0px;
}

.project_img_main {
    position: relative;
}

.project_img {
    box-sizing: border-box;
    overflow: hidden;


}

.project_img img {
    transition: 0.5s;
    transform: scale(1.3);
}

.project_img:hover img {
    transform: scale(1);
}

.project_sub_text {
    background: #f1f1f1;
    position: absolute;
    left: 8%;
    bottom: -40px;
    width: 85%;
    padding: 10px;
}

.project_sub_text h5,
.project_sub_text a,
.project_sub_text h6 {
    padding: 10px 10px 0px 5px;
}

/* project_part end */


/* ferture_part start */
.ferture_part {
    background: url(../images/play.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feture_overlay {

    background: #353535;
    width: 50%;
    padding: 100px 0px;
}

.feture_heding h3 {
    color: #FD5D15;
}

.feture_heding h1 {
    color: #fff;
}

.sp_feturs p {
    color: #fff;
    display: flex;
}

.sp_feturs p i {
    font-size: 25px;
    margin-right: 10px;
    margin-top: 15px;

}

/* ferture_part end */



/* expert_part start */
.expert_part {
    padding: 100px 0px;
}

.team_member {
    padding: 10px 10px 20px 10px;
    box-shadow: 0px 0px 5px #000;
    transition: all 0.3s linear;
    position: relative;
}

.team_member:hover {
    background: #353535;
    box-shadow: none;

}

.team_member:hover h4 {
    color: #fff;
}

.team_member h4 {
    font-weight: 800;
    padding-top: 30px;
}

.team_member h5 {
    color: #FD5D15;
    padding: 18px 0px;
}

.team_icon {
    background: #353535;
    padding: 10px 0px;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 4px solid red;
   
}

.team_member:hover .team_icon {
    visibility: visible;
    bottom: -30px;
   
}

.team_icon ul {}

.team_icon ul li {
    float: left;
    margin: 0px 10px;


}

.team_icon ul li:first-child {
    margin-left: 35%;
}

.team_icon ul li a {
    font-size: 20px;
    color: #fff;
}

/* expert_part end */
.test_main{
/* position: relative;*/
}
.test_main img{
 height: 50vh;

}

.main_row{
 background: #fff;
   margin-top: -230px;
    
}







.count_number{
padding: 30px 0px 20px;
border: 1px solid #f1f1f1;
    margin: 0px 15px;
    text-align: center;
    transition: 0.4s;
}
.count_number:hover{
 box-shadow: 0 0 5px #000;
}
.count_number .h1{
 color: #f1f1f1;


   
}
.count_number h5::after{
 position: absolute;
   content: "";
   background: #f1f1f1;
    height: 5px;
    width: 0%;
    bottom: 0;
    left: 0;
    margin-left: 25%;
    opacity: 0;
    transition: 0.5s;
}
.count_number:hover h5::after{
 opacity: 1;
   width: 50%; 
}
.count_number h3{
 color: #000;
font-weight: bold;
    padding-top: 20px;

    
}

.count_number p{
    font-size: 16px;
    margin: 0px 10px;
    padding: 10px 0 10px;
}

.count_prog{
 padding: 50px 0px;
}
.count_ptext{
height: 180px;
width: 180px;
margin: 0 auto;
text-align: center;
border: 5px solid #f1f1f1;
    border-radius: 50%;
    position: relative;

}

.count_ptext::after{
position: absolute;
height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid #000;
    content: '';
    top: 0;
    left: 0;
  
}

.count_ptext h3{
line-height: 180px;
    font-size: 70px;
}

.count_prog h4{
 color: #000;
padding: 10px 0px;
font-size: 30px;
font-weight: bold;
}


/* working_process end */
.test_main2 img{
 height: 50vh;

}

.main_row2{

   margin-top: -230px;
    
}
                                           
.feedback_text{
 background: #fff;
    box-shadow: 0 0 5px #000;
    border-radius: 10px;
padding: 10px 0px;
    margin-bottom: 40px;

}

.feedback_text p{
 margin: 20px;
}
.feedback_text p:nth-child(2){
margin: 0px;
}
.img_fed img{
 height: 80px;
width: 80px;
    border-radius: 50%;
    float: left;
    margin: 0px 20px;
}

/* Consultaion_part start */
.Consultaion_part{
background: url(../images/banner-6.jpg);
background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  padding: 106px 0px;
}
.Consultaion_part::after{
 position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #000;
    content: '';
    transform: skewX(15deg);

}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 40%;
    z-index: 99999;
    padding-left: 100px;
    
}
.overlay p{
color: #fff;
}
.Consultaion_head h3{
color: #fff;
    padding-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
}
/* Consultaion_part end */

/* news_part start */
.news_part{
background: #ffff;
   padding-bottom: 50px; 
}
.news{
   overflow: hidden;
    box-shadow: 0 0 5px #000;
   
}
.news img{
   transform: scale(1);
 transition: 0.4s;


}
.news:hover img{
 transform: scale(1.2);
}
.news_cnt{
  padding: 30px 0px;
}
.news_cnt a{
   
 margin-left: 10px;
}
.news_cnt a:hover{
color: #FD5D15;
}
.news_cnt a i{
     margin-right: 5px;
     color: #FD5D15;
}
.news_cnt h5{
  padding: 10px 0px;
    margin: 0px 10px;
    border-bottom: 2px solid #f1f1f1;
}
/* news_part end */


/* footer_part start */
.footer_part{
 padding: 100px 0px;
background: #353535;
    margin-top: 100px;
}
.footer_logo p{
 color: #fff;
 padding: 10px 0px;
}
.footer_logo p i{
 margin-right: 10px;
    color: #f1f1f1;
}
.footer_logo ul{
float: left;
}
.footer_logo ul li{
 float: left;
 margin-right: 15px;
    margin-top: 20px;
}
.footer_logo ul li a{

color: #fff;
}
.company{
/*margin-left: 10px;*/
}
.company h4{
color: #fff;
font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
}

.company a{
 color: #fff;
display: block;
    padding: 14px 0px;
    text-transform: capitalize;
   
}
.company a span{
margin-right: 10px;
 display: none;

}
.company a:hover{

color: red
}
.company a:hover span{
 display: inline;
    color: red;
}

.ns_srch p{
 color: #fff;
    padding: 20px 0px;
}

.ns_srch a{
 display: inline-block;
}

.ns_srch .search_ft{
 padding: 6px 5px;
    border: none;
}
.search_icon i{
padding: 10px 20px;
    background: #fff;
    margin-left: -5px;
}

.ft_button{
padding: 6px 8px;
    border: 0;
    margin-left: -6px;
}

.ns_srch h5{
color: #fff;
    padding: 20px 0px;
}

/* footer_part end */

/* copywrite_part start */
.copywrite_part{
 background: #000;
    padding: 20px 0px;
    text-align: center;
    
}
.copywrite_part p{
color: #fff;
}
/* copywrite_part end */







